<section class="hotels-search-content">
  <app-search-bar></app-search-bar>
  <div class="center">
    <div class="top-filter-panel">
      <div class="active-mobile-filters-count"></div>
      <button
        class="sort-by-btn"
        mat-flat-button
        color="primary"
        (click)="openSortByFilterBottomSheet()"
      >
        Sort By
      </button>
      <button
        class="price-filter-btn"
        mat-flat-button
        color="primary"
        (click)="openPriceFilterBottomSheet()"
      >
        <span
          *ngIf="
            isMobilePriceFilterActive &&
            !(minPrice === 0 && maxPrice === infinity)
          "
        >
          ${{ minPrice }} - ${{ maxPrice === infinity ? "350+" : maxPrice }}
        </span>
        <span
          *ngIf="
            !isMobilePriceFilterActive ||
            (minPrice === 0 && maxPrice === infinity)
          "
          >Price</span
        >
      </button>
    </div>
    <div class="grid">
      <div class="side-filters-panel">
        <!-- booking options filter -->
        <section class="filter booking-filter-container">
          <div class="filter-title">Booking options</div>
          <div>
            <mat-checkbox
              color="primary"
              [(ngModel)]="isCancellationFree"
              (change)="filterHotels()"
            >
              <span class="booking-option-label"> Free cancellation </span>
            </mat-checkbox>
            <mat-checkbox
              color="primary"
              [(ngModel)]="isPayOnArrival"
              (change)="filterHotels()"
            >
              <span class="booking-option-label"> Pay on arrival </span>
            </mat-checkbox>
          </div>
        </section>
        <!-- price range filter -->
        <section class="filter price-filter-container">
          <div class="filter-title">Price</div>
          <div *ngFor="let range of priceRanges">
            <mat-checkbox
              color="primary"
              [(ngModel)]="range.checked"
              (change)="updatePriceRange(); filterHotels()"
            >
              <span class="price-filter-label">
                {{ range.label }}
              </span>
            </mat-checkbox>
          </div>
        </section>
        <!-- star rating filter -->
        <section class="filter rating-filter-container">
          <div class="filter-title">Star Rating</div>
          <div *ngFor="let range of ratingRanges">
            <mat-checkbox
              class="star-rating-checkbox"
              color="primary"
              [(ngModel)]="range.checked"
              (change)="updateStarRating(); filterHotels()"
            >
              <span class="star-rating-label">{{ range.stars }} stars</span>

              <span *ngFor="let _ of [].constructor(range.stars)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  class="filter-star-icon"
                  style="width: 1rem; height: 1rem"
                >
                  <path
                    d="M7.925 8.03a1.05 1.05 0 00.793-.591l2.576-5.478a.771.771 0 011.412 0l2.576 5.478a1.048 1.048 0 00.793.59l5.75.87a.835.835 0 01.437 1.407l-4.188 4.274a1.05 1.05 0 00-.287.905l.99 6.05a.795.795 0 01-1.141.869l-5.13-2.83a1.05 1.05 0 00-1.013 0l-5.13 2.83a.795.795 0 01-1.141-.87l.995-6.05a1.05 1.05 0 00-.286-.904l-4.192-4.273A.834.834 0 012.175 8.9z"
                  ></path>
                </svg>
              </span>
            </mat-checkbox>
          </div>
        </section>
        <!-- guest rating filter -->
        <section class="filter guest-rating-filter-container">
          <div class="filter-title">Guest rating</div>
          <div *ngFor="let range of guestRatingRanges">
            <mat-checkbox
              color="primary"
              [(ngModel)]="range.checked"
              (change)="updateGuestRating(); filterHotels()"
            >
              <span class="guest-rating-label">
                {{ range.label }}
              </span>
              <span>
                {{ range.extra }}
              </span>
            </mat-checkbox>
          </div>
        </section>
      </div>
      <div class="hotel-result-grid">
        <div *ngFor="let hotel of filteredHotels" class="hotel-card">
          <img src="{{ hotel.imageUrl }}" alt="{{ hotel.name }}" />
          <div class="hotel-info">
            <div class="title-rating-flex">
              <div class="title">{{ hotel.name }}</div>
              <div class="rating">
                <svg
                  *ngFor="let _ of [].constructor(hotel.rating); let i = index"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  class=""
                  style="width: 1rem; height: 1rem"
                >
                  <path
                    d="M7.925 8.03a1.05 1.05 0 00.793-.591l2.576-5.478a.771.771 0 011.412 0l2.576 5.478a1.048 1.048 0 00.793.59l5.75.87a.835.835 0 01.437 1.407l-4.188 4.274a1.05 1.05 0 00-.287.905l.99 6.05a.795.795 0 01-1.141.869l-5.13-2.83a1.05 1.05 0 00-1.013 0l-5.13 2.83a.795.795 0 01-1.141-.87l.995-6.05a1.05 1.05 0 00-.286-.904l-4.192-4.273A.834.834 0 012.175 8.9z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="distance">
              {{ hotel.distance }} miles from city centre
            </div>
            <div class="reviews">
              <span class="review-points">{{ hotel.guestRating }}</span>
              <span class="review-tripadvisor"
                ><img
                  src="{{ hotel.tripAdvisorReviewImage }}"
                  alt="TripAdvisor Rating"
              /></span>
              <span class="review-count">{{ hotel.reviews }} reviews</span>
            </div>
          </div>
          <mat-divider [vertical]="true" class="price-divider"></mat-divider>
          <div class="hotel-price-container">
            <div class="hotel-price-container-center">
              <div class="hotel-price">
                <span class="price">${{ hotel.pricePerNight }}</span>
                <span class="night">night</span>
                <span class="anight">a night</span>
              </div>
              <div class="free-cancellation" *ngIf="hotel.hasFreeCancellation">
                Free cancellation
              </div>
              <div class="free-cancellation" *ngIf="hotel.hasPayOnArrival">
                Free on arrival
              </div>
              <button mat-flat-button color="primary" class="view-btn">
                Go to site
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
