<section>
  <app-search-bar></app-search-bar>
  <div class="image-grid">
    <img class="first" src="{{ hotel.imageUrl[0] }}" alt="Main Image" />
    <img class="second" src="{{ hotel.imageUrl[1] }}" alt="Second Image" />
    <img class="third" src="{{ hotel.imageUrl[2] }}" alt="Third Image" />
  </div>
  <div class="center">
    <!-- hotel info -->
    <div class="hotel-info">
      <div class="hotel-name">{{ hotel.name }}</div>
      <div class="hotel-rating">
        <svg
          *ngFor="let _ of [].constructor(hotel.rating); let i = index"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
          class=""
          style="width: 1rem; height: 1rem"
        >
          <path
            d="M7.925 8.03a1.05 1.05 0 00.793-.591l2.576-5.478a.771.771 0 011.412 0l2.576 5.478a1.048 1.048 0 00.793.59l5.75.87a.835.835 0 01.437 1.407l-4.188 4.274a1.05 1.05 0 00-.287.905l.99 6.05a.795.795 0 01-1.141.869l-5.13-2.83a1.05 1.05 0 00-1.013 0l-5.13 2.83a.795.795 0 01-1.141-.87l.995-6.05a1.05 1.05 0 00-.286-.904l-4.192-4.273A.834.834 0 012.175 8.9z"
          ></path>
        </svg>
      </div>
      <div class="hotel-address">{{ hotel.address }}</div>
      <div class="hotel-guest-rating">
        <span class="guest-rating">
          {{ hotel.guestRating.toFixed(1) }}
        </span>
        <span class="guest-reviews">{{ hotel.reviews }} reviews</span>
      </div>
    </div>
    <!-- room options   -->
    <div class="parameter-confirmation">
      <div class="selected-dates">
        <div class="check-in">
          <div>Check-in</div>
          <div class="date">
            28 Jun 2024 <span class="time">from 15:00 - 23:00</span>
          </div>
        </div>
        <div class="check-out">
          <div>Check-out</div>
          <div class="date">
            30 Jun 2024<span class="time">from 15:00 - 23:00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="room-option-component">
      <div class="selected-guests-rooms">
        <div class="available-title">Available Rooms</div>
        <div class="nights-adults">For 2 nights, 1 adults</div>
      </div>
      <div class="room-options-grid">
        <div class="room-card">
          <div class="room-title">Double Room (1 - 2 Adults)</div>
          <mat-divider></mat-divider>
          <div class="room-info">
            <div class="room-amenities">Free wifi, Free cancellation</div>
            <div class="room-total-price">$1090</div>
            <button color="primary" mat-flat-button class="book-btn">
              Book now
            </button>
          </div>
        </div>
        <div class="room-card">
          <div class="room-title">Quadruple Room (1 - 4 Adults)</div>
          <mat-divider></mat-divider>
          <div class="room-info">
            <div class="room-amenities">Free wifi, Free cancellation</div>
            <div class="room-total-price">$1300</div>
            <button color="primary" mat-flat-button class="book-btn">
              Book now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fill"></div>
</section>
